<div class="business-header-section">
    <div class="business-item-detail">
        <img id="business-thumbnail" style="display: none;" alt="업체 이미지">
        <div class="business-info">
            <div class="ad-title" id="business-title"></div>
            <div class="ad-meta">
                <span class="ad-type-author" id="business-type-author"></span>
                <span class="ad-location" id="business-location"></span>
            </div>
            <div class="ad-views">
                <span id="business-views"></span>
            </div>
        </div>
    </div>
</div>